# Copy this file to terraform.tfvars and fill in your values.
# DO NOT commit terraform.tfvars to version control!

cloudflare_account_id         = ""
cloudflare_api_token          = ""
cloudflare_zone_id            = ""
turnstile_production_hostname = "vectreal.com"
turnstile_staging_hostname    = "staging.vectreal.com"
