@import 'tailwindcss';

.global {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;

	h2 {
		font-size: 2.5rem;
		font-weight: 400;
		margin-bottom: 1rem;

		@media screen and (max-width: 768px) {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
	}

	h3 {
		font-size: 1.75rem;
		font-weight: 400;

		@media screen and (max-width: 768px) {
			font-size: 1.25rem;
		}
	}

	section p,
	section li {
		line-height: 1.5;
		font-weight: 400;
		color: var(--muted-foreground);
	}

	button,
	a {
		cursor: pointer;
	}
}
