@reference './global.module.css';

.root {
	@apply mx-auto flex max-w-lg flex-col gap-6 md:max-w-4xl;

	ul {
		@apply list-disc pl-6;
	}

	ol {
		@apply list-decimal pl-6;
	}

	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply text-xl font-bold;
	}
	h4 {
		@apply text-lg font-bold;
	}
	h5 {
		@apply text-base font-bold;
	}
	h6 {
		@apply text-sm font-bold;
	}
	p {
		@apply text-base opacity-75;
	}
}
