/* Canvas and loader styles */

.canvas {
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.5s ease-in-out,
		visibility 0.5s;
	transition-delay: 1s;
}

/* Canvas fade-in when visible */
.canvas[data-canvas-visible='true'] {
	opacity: 1;
	visibility: visible;
}
