/* Info popover styles */

.popover {
	position: absolute;
	z-index: 100;
	bottom: 0;
	margin: 0.5rem;
}

.popover-trigger {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
}

.popover-trigger button {
	background-color: var(--vctrl-bg);
	cursor: pointer;
	width: inherit;
	height: inherit;
	padding: 0.25rem;
	border-radius: 50%;
	z-index: 10;
}

.popover-trigger button:hover {
	background-color: var(--vctrl-hover-bg);
}

.popover-trigger button:active {
	background-color: var(--vctrl-active-bg);
}

.popover-trigger button svg {
	color: var(--vctrl-text);
	width: 1rem;
	height: 1rem;
}

.popover-modal {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 16rem;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: var(--vctrl-bg);
	transition: all 0.3s ease-out;
}

.popover-modal.hide {
	translate: -0.5rem 0.5rem;
	opacity: 0;
	visibility: hidden;
}

.popover-modal.show {
	translate: 0 0;
	opacity: 1;
	visibility: visible;
}

.text-container {
	flex-grow: 1;
	padding: 1rem;
}

.text-container p {
	font-size: 0.875rem;
	color: var(--vctrl-text);
}

.popover-close {
	background-color: var(--vctrl-bg);
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: var(--vctrl-text);
	transition: all 0.3s ease-in-out;
}

.popover-close:hover {
	background-color: var(--vctrl-hover-bg);
}

.popover-close:active {
	background-color: var(--vctrl-active-bg);
}

.popover-footer {
	background-color: var(--vctrl-bg);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 0.75rem;
	border-top: 1px solid var(--vctrl-border);
	color: var(--vctrl-text);
	transition:
		color 0.3s,
		background-color 0.3s;
}

.popover-footer:hover {
	background-color: var(--vctrl-hover-bg);
}

.popover-footer:active {
	background-color: var(--vctrl-active-bg);
}

.popover-footer svg {
	height: 1rem;
	width: 1rem;
}
