.loader-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

/* Loader fade-out states */
.loader-container[data-loading-state='loaded'],
.loader-container[data-loading-state='ready'] {
	opacity: 0;
	pointer-events: none;
}
