name: CD - Deploy Platform to Production

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy-production:
    name: Deploy to Production Environment
    strategy:
      matrix:
        lb-only-origin:
          - false
    uses: ./.github/workflows/shared-gcloud-deploy.yaml
    with:
      environment: production
      service-name: vectreal-platform
      image-name: vectreal-platform
      region: us-central1
      artifact-region: us-central1
      node-env: production
      allow-unauthenticated: ${{ !matrix.lb-only-origin }}
      cloud-run-flags: ${{ matrix.lb-only-origin && '--ingress internal-and-cloud-load-balancing' || '' }}
    secrets:
      gcp-credentials: ${{ secrets.GCP_CREDENTIALS }}
      gcp-project-id: ${{ secrets.GCP_PROJECT_ID }}
      database-url: ${{ secrets.DATABASE_URL_PROD }}
      supabase-url: ${{ secrets.SUPABASE_URL_PROD }}
      supabase-key: ${{ secrets.SUPABASE_KEY_PROD }}
      google-cloud-storage-private-bucket: ${{ secrets.GOOGLE_CLOUD_STORAGE_PRIVATE_BUCKET_PROD }}
      application-url: ${{ secrets.APPLICATION_URL_PROD }}
      csrf-secret: ${{ secrets.CSRF_SECRET_PROD }}
